/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

$primary: mat.define-palette(mat.$indigo-palette);

.primary-color {
  color: mat.get-color-from-palette($primary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
